* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif; 
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
    background-color: #fff9e8;
}

.navbar {
    background-color: rgba(168, 187, 181, 0.7);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}
.landing-image {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #fff9e8 100%), url('/images/Maastricht.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.overlay-image {
    position: relative;
    z-index: 2;
    width: 90%;
    height: auto;
    object-fit: cover;
    top: -0.2%;
    left: 0.3%;
}

.about-button {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #A8BBB5;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #60ae96;
    font-size: 16px;
    transition: background-color 0.3s;
}

.about-button:hover {
    background-color: #60ae96;
}

.about {
    margin-top: 50px;
    padding: 50px;
    min-height: 100vh;
    text-align: left;
    font-size: 18px;
}
.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column; /* Stack projects vertically */
    gap: 20px; /* Add space between projects */
}

.project {
    display: none;
    text-align: center;
    background-color: rgba(168, 187, 181, 0.8);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Add padding for aesthetics */
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.project img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px; /* Add rounded corners */
}

h2 {
    font-size: 2em;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
}

.read-more {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #0056b3;
}

.outcome-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around; 
    padding: 40px;
    margin-bottom: 20px; 
    margin-left: 45px ;
    background-color: rgba(168, 187, 181, 0.7); 
    border: 2px solid rgba(96, 174, 150, 1);
    border-radius: 15px; 
    box-shadow: 0 1px 15px rgba(96, 174, 150, 0.5); 
    width: calc(50% - 40px); 
    min-width: 550px;
    overflow: hidden;
    position: relative;
}
  
.outcomes-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    gap: 20px; 
}

.outcome-link, .outcome-link h3 {
    color: black;
    text-decoration: none;
}

.outcome-container:hover {
    box-shadow: 0 5px 15px rgba(168, 187, 181, 0.7);
    background-color: rgba(168, 187, 181, 1);
    transition: box-shadow, background-color 0.3s ease-in-out;

}

.outcome-link {
    display: block;
    text-decoration: none;
}

.LO{
    margin-left: 49px;
}

.LO h2 {
    font-size: 35px;
}

.LO p {
    font-size: 20px;
}

/* Scroll to top button */
#scrollToTopButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100000;
    border: none;
    outline: none;
    background: rgba(168, 187, 181, 0.7);
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
}

#scrollToTopButton:hover {
    background: rgba(168, 187, 181, 1);
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 20px rgba(168, 187, 181, 0.7);
}
