* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgba(168, 187, 181, 0.7);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.landing-image {
    background-image: url('images/Maastricht.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.overlay-image {
    position: relative;
    z-index: 2;
    width: 90%;
    height: auto;
    object-fit: cover;
    top: -0.2%;
    left: 0.3%;
}

.about-button {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #A8BBB5;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #60ae96;
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif;
    transition: background-color 0.3s;
}

.about-button:hover {
    background-color: #60ae96;
}

.content-section {
    background-color: white;
    margin-top: 50px;
    padding: 50px;
    min-height: 100vh;
    text-align: left;
    font-family: 'Albert Sans', sans-serif;
    font-size: 20px;
}

h2, p {
    font-family: 'Albert Sans', sans-serif; 
}
